<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Annotation Creator</title>
    <link rel="stylesheet" href="../../../bower_components/bootstrap4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/annotation.css">

  </head>
  <body>
    
    
    <div class="container">
      
      <h1>Hello there</h1>

      <form onsubmit="save_annotation()">
        
        <textarea id="annotation-text">Annotation text</textarea>

        <a class="button-primary" id="add-button">
          <span class="icon is-small">
            <i class="fa fa-plus"></i>
          </span>
          <span><strong>Add Item</strong></span>
        </a>

      </form>

    </div>



    <script>
      
      $ = require('jquery');

      require('../js/annotation_handler.js');

    </script>
  </body>
</html>
