<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Annotation Creator</title>
    <link rel="stylesheet" href="../../../bower_components/bootstrap4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/annotation.css">

  </head>
  <body>
   
    <div class="jumbotron container form-group">

        <label for="annotation-text">Annotation</label>
        <textarea class="form-control" id="annotation-text">Annotation text</textarea>

        <button class="btn btn-primary" id="add-annotation" onclick="add_annotation()">Button</button>


      </form>

    </div>

    <script src="../../common/annotation.js"></script>
    <script src="../js/annotation_handler.js"></script>

  </body>
</html>
