<!DOCTYPE html>
<html>
<head>
	<title>Welcome to VidNote</title>
	<link rel="stylesheet" href="../css/photon.min.css"/>
    <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/greeter.css"/>
    <link rel="stylesheet" href="../css/common_photon.css">

</head>
<body>


	<div class="window content">

      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">
        <div class="title-bar">
        	<span id="close_window_button" class="fa-stack">
        		<i class="fa fa-stack-1x fa-circle" id="close-circle"></i>
        		<i class="fa fa-stack-1x fa-times-circle"></i>
        	</span>
      		
      		<span id="minimize_window_button" class="fa-stack">
      			<i class="fa fa-stack-1x fa-circle" id="minimize-circle"></i>
      			<i class="fa fa-stack-1x fa-minus-circle"></i>
      		</span>

        	<h1 class="title">VidNote</h1>
        
        </div>
      </header>

      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
         
        	<div id="logo-pane" class="pane">
        		<div class="logo"></div>
        		<div class="text-container">

        			<div id="input_placeholder" class="upload-here" onclick="document.querySelector('#input_file').click();">Choose Video</div>
        			<input id="input_file" type="file" accept="video/*" class="form-control">
        			<div id="next" class="pulse"></div>

        		</div>
        	</div>
          
          
        </div>
      </div>
    </div>


<script>
	
	require('../js/greeter.js')
  require('../js/common_window_operations.js');


</script>

</body>
</html>