<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VidNote</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="main_window.css">

  </head>
  <body>
    
    
    <div class="container">
      
      <h1>Hello there</h1>

      <video src="../../assets/videos/test.mp4" width="500px" controls>
      </video>

      <button onclick="annotate()">Annotate Here</button>

      <script>
        
        let vid = document.querySelector("video");
        console.log(vid.currentTime);
        vid.currentTime = 30;

        // vid.addEventListener("seeked", ()=>{
        //     vid.play(); 
        // }, true);
        // 
        
        function annotate(){
          //TODO: Send event to main to open annotation window 
        }

        // EVT_RECEIVED: New item successfully fetched
        ipcRenderer.on('new_item_ready', (e, new_item) =>{

          close_modal_disabled = false;

          if(new_item === "error"){

            // Add danger component to input class
            $('#item-input').addClass('is-danger');
            $('#url_error').removeClass('is-invisible');
            
          }else{
            // New item fetched successfully
            // Add to main list
            items.items.push(new_item);
            items.save_items();
            items.add_item_html(new_item);

          }

          // Close and reset moda
          finished_loading_modal();

        });

      </script>

    </div>



    <script>
      
      $ = require('jquery');

      require('./main_window_controller.js');

    </script>
  </body>
</html>
