<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <title>VidNote</title>
    <!-- <link rel="stylesheet" href="../../../bower_components/bootstrap4/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/photon.min.css"/>
    <link rel="stylesheet" href="../css/index.css">

  </head>
  <body>

     <div class="window content">
       
       <header class="toolbar toolbar-header">
         <div class="title-bar">
           <span class="fa-stack">
            <i class="fa fa-stack-1x fa-circle" id="close-circle"></i>
            <i class="fa fa-stack-1x fa-times-circle"></i>
          </span>
          
          <span class="fa-stack">
            <i class="fa fa-stack-1x fa-circle" id="minimize-circle"></i>
            <i class="fa fa-stack-1x fa-minus-circle"></i>
          </span>

          <h1 id="title" class="title">VidNote</h1>
         </div>
       </header>

       <div class="window-content">
         
         <div class="pane-group">

            <div class="pane">
           
              <div id="video-container" class="col-lg-6 col-md-8 col-sm-12">
                
                <div class="row">
                  <video id="video" width="100%" src="#" controls>
                  </video>
                </div>
              </div>

          </div>

          <div class="pane-sm">
            <div id="annotation-list" class="list-group"></div>
          </div>

        </div>
      </div>
    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        
        <button id="finished-button" class="btn btn-large btn-default">
          Done
        </button>

        <button id="add-annotation-button" class="btn btn-large btn-primary pull-right">
          New Annotation
        </button>
      </div>
    </footer>
    </div>
        


    
    <!-- TODO: Make a responsive sidebar upon resize -->

    <script>
      require('../js/index.js');
    </script>

  </body>
</html>
