html{
	padding:0px;

}

body{
	background-color:#ffffff00 !important;
	font-family:sans-serif;
	font-weight:300;
}

h1{
	font-size: 1.1em !important;
	font-weight:100;
}

.title-bar{
	display:flex; 
	align-items: center;
}

.fa-times-circle{
	font-size:1.1em !important;
	color: #f44242;
	cursor:pointer;
	transition:all 0.4s;
}

.fa-times-circle:hover{
	font-size:1.1em !important;
	color: #ff9b9b;
	cursor:pointer;
	transition:all 0.4s;
}

.fa-minus-circle{
	font-size:1.1em !important;
	color: #ffc628;
	cursor:pointer;
	transition:all 0.4s;
}

#minimize-circle{
	color:#895825;
}

#close-circle{
	color:#6f271c;
}

.logo {
  margin:auto;
  display: flex;
  margin-top:3%;
  width: 60%;
  height: 60%;
  background: url(../../static/svgs/pushed.svg);
  background-size: 100% 100%;
  opacity:0.1;
}

.window{
	border-bottom:0.5px solid #eee;
	border-right:0.5px solid #eee;
	border-left:0.5px solid #eee;
}



.text-container{
	justify-content: center;
	display:flex;
	align-items:center;
}

.title{
	-webkit-app-region: drag;
	width:100%;
	margin-right:3em;
	text-align: center;
}

.content{
	overflow:hidden;
	border-radius:6px;
}

.window{
	border-radius:6px;

}

#input_file{
	display:none;
}


#input_wrapper{
	display:flex;
	align-items:center;
	justify-content: center;
	margin:10px 0px;
}  


#button_wrapper{
	display:flex;
	justify-content: center;
	margin-top:20px;
}

#file_name{
	height:40px;
	margin:30px 0px 0px 0px;
	border-bottom:1px solid white;
}

.button{
	font-size:1em;
	border-radius:10px;
	text-align:center;
	padding:10px 50px;
	background:#999;
	box-shadow:0px 5px 10px 0px #555;
	border-style: none;
	cursor:pointer;
}

.button:focus{outline:0;}

#file_feedback{
	opacity:0;
	background:transparent url('tick.png');
	background-size:contain;
	width:2em;
	height:2em;
	margin:0px 10px;
}
