html{
	padding:0px;

}

body{
	background-color:#ffffff00 !important;
	font-family:sans-serif;
	font-weight:300;
}

h1{
	font-size: 1.1em !important;
	font-weight:100;
}


.logo {
  margin:auto;
  display: flex;
  margin-top:3%;
  width: 60%;
  height: 60%;
  background: url(../../static/svgs/pushed.svg);
  background-size: 100% 100%;
  opacity:0.1;
}



#logo-pane{
	display:block;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	overflow:hidden;
}

.upload-here{

	cursor:pointer;
	display:inline-block;
	margin-top:5%;
	padding:0px 18px;
	border-radius:6px;
	border:1px solid #555;
	text-align:center;
	font-size:1.5em;
	font-family:sans-serif;
	font-weight:300;
	opacity:0.6;

	border-top-color: #c2c0c2;
	border-right-color: #c2c0c2;
	border-bottom-color: #a19fa1;
	border-left-color: #c2c0c2;
	background-color: #fcfcfc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));
	background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);
	background-image: linear-gradient(to bottom, #fcfcfc 0%, #f1f1f1 100%);

	transition:all 0.4s;
}

#next{

	display:inline-block;
	opacity:0;
	background: url(../../static/svgs/check-circle.svg);
	color:green;
	margin-left:10%;
	margin-top:5%;

	width:3em;
	height:3em;

	align-items: center;

}




@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 2s;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.upload-here:hover{
	opacity:0.7;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	transition:all 0.2s;
}

.text-container{
	justify-content: center;
	display:flex;
	align-items:center;
}


#input_file{
	display:none;
}


#input_wrapper{
	display:flex;
	align-items:center;
	justify-content: center;
	margin:10px 0px;
}  


#button_wrapper{
	display:flex;
	justify-content: center;
	margin-top:20px;
}

#file_name{
	height:40px;
	margin:30px 0px 0px 0px;
	border-bottom:1px solid white;
}

.button{
	font-size:1em;
	border-radius:10px;
	text-align:center;
	padding:10px 50px;
	background:#999;
	box-shadow:0px 5px 10px 0px #555;
	border-style: none;
	cursor:pointer;
}

.button:focus{outline:0;}

#file_feedback{
	opacity:0;
	background:transparent url('tick.png');
	background-size:contain;
	width:2em;
	height:2em;
	margin:0px 10px;
}
